{% extends 'base.html.twig' %}

{% block body %}   

    	<div id="content" class="container">
			<div class="page-header">
				<hr>
                <hr>				
				<h1> Symfony</h1>
			</div>
			<p class="lead"> En esta página podéis ver un ejemplo funcional de las actividades a realizar en el módulo de Desarrollo Web en entorno servidor </p>
			<h3>Usuario</h3>
			<p> Para hacer uso completo de la aplicación, será necesario registrarse en la web. Los usuario registrados obtendrán el role ROLE_APP_USER.
			<p class="text-info"> Para acceder como administrador loggearse como: <em>admin/admin</em> </p>
			<p> Para hacer uso completo de la aplicación, será necesario registrarse en la web. Los usuario registrados obtendrán el role ROLE_USER.
			<p class="text-info"> Para acceder como usuario loggearse como: <em>jaen/jaen</em> </p>
		</div>

{% endblock %}
