{% extends "base.html.twig" %}

{% block title %}Actividad 61. Delete Product {% endblock %}

{% block body %}
	{# Mostramos los objetos con dump 
	{{ dump(product) }} #}
	
	{# Mostramos el mensaje success #}
	<hr><hr><hr>
	El producto <strong>{{ product.name}}</strong> a sido eliminada.
	<div>
		<a href="{{ url('listActionProduct')}}">atrás</a>
	</div>
	
{% endblock %}
{% block javascripts %}{% endblock %}